path.link {
    fill: none;
    stroke: gray;
    stroke-width: 1.5px;
    opacity: 0.6;
  }
.node circle {
    stroke: #fff;
    opacity: 0.6;
    stroke-width: 1.5px;
}
text {
    font: 15px serif;
    opacity: 0.6;
    pointer-events: none;
}